asgiref==3.10.0
bcrypt==5.0.0
blinker==1.9.0
cassandra-driver==3.29.3
certifi==2025.10.5
click==8.3.0
Django==5.2.7
dnspython==2.8.0
Flask==3.1.2
flask-cors==6.0.1
geomet==1.1.0
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.3
pyaml==25.7.0
pymongo==4.15.3
python-dateutil==2.9.0.post0
PyYAML==6.0.3
redis==6.4.0
six==1.17.0
sqlparse==0.5.3
Werkzeug==3.1.3
