asgiref==3.10.0
blinker==1.9.0
bson==0.5.10
click==8.3.0
Django==5.2.7
dnspython==2.8.0
Flask==3.1.2
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.3
pymongo==4.15.3
python-dateutil==2.9.0.post0
redis==6.4.0
six==1.17.0
sqlparse==0.5.3
Werkzeug==3.1.3
